:root {
    --sky-blue: #caf0f8;
    --ocean-blue: #198ece;
    --dark-blue: #03045e;
    --yelloworange-accent: #ffd000;
    --orange-accent: #ff9770;
    --links: #1B4678;
    --nav: #E9ECEF;

    --var-main-font: font-family: 'Vollkorn', serif;
    --var-heading-font: font-family: 'Domine', script;
    --var-decorative-font: font-family: 'Seaweed Script', script;
}

*{
  margin: 0;
  padding: 0;
}

body {
    background-color: hsl(0, 0%, 100%);
    font-family: 'Domine';
}

h1 {
  text-transform: uppercase;
  font-family: 'Domine';
  font-size: 8vw;
  letter-spacing: 1rem;
  margin: 0rem;
  color: rgba(255, 255, 255, 70%);
}

h2{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

span {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--ocean-blue);
}

/******************************** for screen readers ********************************/
.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.sr-only.sr-only-focusable:focus {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  clip-path: initial;
  white-space: normal;
}

/******************************** nav bar ********************************/
nav {
  background-color: var(--nav);
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: var(--links);
  padding: 0px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-align: center;
}

nav a:hover, .dropdown:hover{
  color: var(--ocean-blue);
}

.dropbtn {
  color: var(--nav);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--nav);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.my-logo{
  height: 100px;
}

/******************************** Hero Image ********************************/
 .hero-image {
    background-image: url(Images/pier.jpg);
    background-position: center; 
    background-repeat: repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
    text-align: center;
    display: flex;
	  flex-direction: column;
	  justify-content: center;
  }

/******************************** Menu ********************************/
*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

.title {
  font-size: 1rem;
}

.container{
  padding: 1em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
}

.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
  height: 250px;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}


/******************************** Socials ********************************/
.socials {
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
}

.fa {
  padding: 30px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

/******************************** Footer ********************************/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  #e9ecef;
  color: #808080;
  text-align: center;
  font-size: 10px;
  padding: 10px;
}