:root {
    --sky-blue: #caf0f8;
    --ocean-blue: #007BB5;
    --dark-blue: #03045e;
    --yelloworange-accent: #ffd000;
    --orange-accent: #ff9770;
    --links: #1B4678;
    --nav: #E9ECEF;

    --var-main-font: font-family: 'Vollkorn', serif;
    --var-heading-font: font-family: 'Domine', script;
    --var-decorative-font: font-family: 'Seaweed Script', script;
}

*{
  margin: 0;
  padding: 0;
}

body {
    background-color: hsl(0, 0%, 100%);
    font-family: 'Domine';
}

h1, .h1_title{
  text-transform: uppercase;
  font-family: 'Domine';
  font-size: 7vw;
  letter-spacing: 1rem;
  margin: 0rem;
  color: rgba(255, 255, 255, 70%);
}

.title_text {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--ocean-blue);
} 

h2{
  color: var(--ocean-blue);
  text-align: center;
  text-transform: capitalize;
  padding: 2em 0;
}

.title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 800;
}
/******************************** nav bar ********************************/
nav {
  background-color: var(--nav);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: fit-content;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: var(--links);
  padding: 0px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-align: center;
}

nav a:hover, .dropdown:hover{
  color: var(--ocean-blue);
}

.dropbtn {
  color: var(--nav);
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--nav);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.my-logo{
  height: 100px;
}

/******************************** Hero Image ********************************/
 .hero-image {
    background-image: url(Images/pier.jpg);
    background-position: center; 
    background-repeat: repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
    text-align: center;
    display: flex;
	  flex-direction: column;
	  justify-content: center;
  }

/******************************** Menu ********************************/
.container {
  padding: 1em 0;
  float: left;
  width: 50%;
  }

.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
  height: 250px;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 1em;
}

.fadeIn-bottom{
  top: 80%;
}

hr{
  width:25%;
  border-top: 1px dotted var(--dark-blue);
  margin: auto;
}

/******************************** Socials ********************************/
.socials {
  padding-bottom: 8em;
  display: flex;
  justify-content: center;
}

.fa {
  padding: 30px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

/******************************** Footer ********************************/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  #e9ecef;
  color: #808080;
  text-align: center;
  font-size: 12px;
  padding: 10px;
}


/******************************** Small Devices********************************/
@media screen and (max-width: 640px){
  /*Nav*/
  nav{
    flex-direction: column;
    align-items: center;
    height: fit-content;
    position: static;
    padding-bottom: 2em;
  }

  nav img{
    visibility: hidden;
    display: none;
  }

  .dropbtn{
    height: 0px;
  }

  /*Hero image*/
  .hero-image{
    height: 300px;
  }

  .title_text{
    font-size: 1em;
    padding: 1em;
  }

  /*Menu*/
  .container{
    display: block;
    width: 100%;
  }

  footer{
    position: static;
  }
}


/******************************** Large Devices********************************/
@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
}